{
  "announceVolume": 50,
  "port": 3000,
  "aws": {
    "credentials": {
      "region": "us-east-2",
      "accessKeyId": "<AWS ACCESS KEY ID>",
      "secretAccessKey": "<AWS SECRET ACCESS KEY>"
    },
    "name": "Joanna"
  },
  "slack": {
    "token" : "<slack bot token>",
    "channel": "<channel you want parappa to listen in>"
  }
}
