<div class="row">
  <div class="col-md-12 text-center">
    <h3>Currently Playing</h3>
    <img style="width: 200px;" src="{{albumArt}}" />
    <h4 style="">{{currentTrack}}</h4>
    <span style="display:block;">by {{currentArtist}}</span>
  </div>
</div>
